@model StudentProgressTracker.Models.Enrollment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Enrollment</h4>
<hr />
<div class="container-md overflow-auto">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Institution" class="control-label"></label>
                    <input asp-for="Institution" class="form-control" />
                    <span asp-validation-for="Institution" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Qualification" class="control-label"></label>
                    <input asp-for="Qualification" class="form-control" />
                    <span asp-validation-for="Qualification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QualificationType" class="control-label"></label>
                    <input asp-for="QualificationType" class="form-control" />
                    <span asp-validation-for="QualificationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnrolmentDate" class="control-label"></label>
                    <input asp-for="EnrolmentDate" class="form-control" />
                    <span asp-validation-for="EnrolmentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AverageToDate" class="control-label"></label>
                    <input asp-for="AverageToDate" class="form-control" />
                    <span asp-validation-for="AverageToDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
